---
Checks: "*,
  -fuchsia-*,
  -altera-*,
  -boost-*,
  -zircon-*,
  -abseil-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -misc-const-correctness,
  -misc-no-recursion,
  -readability-identifier-length,
  -readability-static-definition-in-anonymous-namespace,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -llvm-*,
  -llvmlibc-*"

HeaderFilterRegex: ".*"
FormatStyle: none
